{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'accounts/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/registry.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/footer.css' %}">

    <title>Hack2024</title>
</head>
<body>
    <div class="header">
        <div class="header-main container">
            <a href="{% url 'main' %}" class="header__logo">Kodopes</a>
            <div class="header-side">
                <div class="header__nav">
                    <a href="{% url 'signup' %}" class="nav__account">
                        <img src="{% static 'accounts/img/ui/user.svg' %}" alt="Аккаунт">
                    </a>
                    <a href="#" class="nav__vk">
                        <img src="{% static 'accounts/img/ui/vk.svg' %}" alt="VK">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="registry">
        <div class="registry-main container">
            <h1 class="registry__title">
                Вход
            </h1>

            <form class="registry__tab tab_active" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form__field">
                    <h2 class="tab__title">E-mail:</h2>
                    {{ form.username }}
                </div>
                <div class="form__field">
                    <h2 class="tab__title">Пароль:</h2>
                    {{ form.password }}
                </div>
                <a class="registry__link" href="{% url 'signup' %}">Нет аккаунта? Зарегистрируйтесь</a>
                <button class="form__submit" type="submit">Подтвердить</button>
            </form>

        </div>
    </div>
    
    <div class="footer footer_white">
        <div class="footer-main container">
            <h1 class="footer__title">Kodopes</h1>
            <div class="footer__nav">
                <a href="{% url 'main' %}">Главная</a>
                <a href="{% url 'main' %}">О доставке</a>
                <a href="{% url 'privacy_policy' %}">Политика конфиденциальности</a>
            </div>
        </div>
    </div>

    <script src="{% static 'accounts/js/registry.js' %}"></script>
</body>
</html>
