{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static '/accounts/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/header.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'profile_user/css/profile.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/registry.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/footer.css' %}">

    <title>Hack2024</title>
</head>
<body>
    <div hidden id="value_status">{{ user.status }}</div>
    <div class="header">
        <div class="header-main container">
            <a href="{% url 'main' %}" class="header__logo">Kodopes</a>
            <div class="header-side">
                {% if user.status == 'Покупатель' %}
                    <form class="header__search" method="post">
                        {% csrf_token %}
                        {{ form.search_field }}
                        <button type="submit">
                            <img src="{% static 'accounts/img/ui/search.svg' %}" alt="Искать">
                        </button>
                    </form>
                {% endif %}
                <div class="header__nav">
                    <a href="{% url 'login' %}" class="nav__account">
                        <img src="{% static '/accounts/img/ui/user.svg' %}" alt="Аккаунт">
                    </a>
                    <a href="#" class="nav__vk">
                        <img src="{% static '/accounts/img/ui/vk.svg' %}" alt="VK">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="cataloque">
        <div class="cataloque-main container">
            <div class="cataloque__nav">
                {% if user.status == 'Комания' %}
                    <a href="{% url 'create' %}">Заказы</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="hero">
        <div class="hero-main container">
        </div>
    </div>

    <!-- Покупатель -->
    <div class="profile_page profile_user " id="client">
        <div class="profile">
            <form class="profile-main container" method='post'>
                {{ form.errors }}
                {% csrf_token %}
                <label for="avatar_load" id="profile_avatar" class="profile__avatar" data-imgurl="{% static '/accounts/img/avatar.jpg' %}"></label>

                <h1 class="profile__name" id="name_client"></h1>
                <div class="field_line">
                    <div class="form__field">
                        <h2 class="tab__title">Ваше имя: *</h2>
                        {{ form.first_name }}
                    </div>
                    <div class="form__field">
                        <h2 class="tab__title">Ваша фамилия: *</h2>
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="form__field">
                    <h2 class="tab__title">E-mail: *</h2>
                    {{ form.username }}
                </div>
                <div class="form__field">
                    <h2 class="tab__title">Ваш адрес: *</h2>
                    {{ form.address }}
                    <div class="checkboxes">
                        {% for city in cities %}
                        <label class="checkbox">
                            <div class="checkbox__button" data-category="address" id="{{ city.id }}">{{ city.name }}</div>
                            <input type="checkbox">
                        </label>
                        {% endfor %}
                    </div>
                </div>
                <button type='submit' class="profile__edit_btn">Подтвердить изменения</button>
            </form>
        </div>

        <!-- Корзина -->
        <div class="orders">
            <div class="orders-main container">
                <div class="order">
                        {{ cart }}
                        {% for order in cart %}
                            <div class="order__image" data-imgurl="{{ order.picture.url }}"></div>
                            <div class="order__info">
                                <div class="info__text">
                                    <h2 class="info__title">{{ order.number }}</h2>
                                    <div class="info__name">{{ order.name }}</div>
                                </div>
                                <div class="order__status">{{ order.status }}</div>
                            </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Компания -->
    <div class="profile_page profile_customer" id="company">
        <div class="profile">
            <form class="profile-main container" method="post">
                {% csrf_token %}
                <label for="avatar_load" id="company_avatar" class="profile__avatar" data-imgurl="{% static '/accounts/img/avatar.jpg' %}"></label>
                <h1 class="profile__name">{{ user.organization }}</h1>
                <div hidden>{{ form.username }}</div>
                <div class="field_line">
                    <div class="form__field">
                        <h2 class="tab__title">Название компании: *</h2>
                        {{ form.organization }}
                    </div>
                    <div class="form__field">
                        <h2 class="tab__title">Изделие производства: *</h2>
                        {{ form.production }}
                    </div>
                </div>

                <div class="form__checkboxes">
                    <h2 class="checkboxes__title">Склады:</h2>
                    <div class="checkboxes">
                        {{ form.list_warehouse }}
                        {% for city in cities %}
                        <label class="checkbox">
                            <div class="checkbox__button" data-category="warehouse" id="{{ city.id }}">{{ city.name }}</div>
                            <input type="checkbox">
                        </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="form__checkboxes">
                    <h2 class="checkboxes__title">Пункты выдачи: </h2>
                    {{ form.list_pick_up_point }}
                    <div class="checkboxes">
                        {% for city in cities %}
                        <label class="checkbox">
                            <div class="checkbox__button" data-category="pick_up_point" id="{{ city.id }}">{{ city.name }}</div>
                            <input type="checkbox">
                        </label>
                        {% endfor %}
                    </div>
                </div>
                <button type='submit' class="profile__edit_btn">Подтвердить изменения</button>
            </form>
        </div>
    </div>
    
    <div class="footer">
        <div class="footer-main container">
            <h1 class="footer__title">Kodopes</h1>
            <div class="footer__nav">
                <a href="{% url 'main' %}">Главная</a>
                <a href="/index.html">О доставке</a>
                <a href="/privacy-policy.html">Политика конфиденциальности</a>
                <a href="/contacts.html">Контакты</a>
                <a href="#">FAQ</a>
            </div>
        </div>
    </div>

    
    <script src="{% static 'accounts/js/registry.js' %}"></script>
    <script src="{% static 'profile_user/js/profile.js' %}"></script>
</body>
</html>
