{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static '/accounts/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/header.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'profile_user/css/profile.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/registry.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/footer.css' %}">

    <title>Hack2024</title>
</head>
<body>
    <div class="header">
        <div class="header-main container">
            <a href="{% url 'main' %}" class="header__logo">Kodopes</a>
            <div class="header-side">
                <form class="header__search">
                    <input type="text" required placeholder="Поиск">
                    <button>
                        <img src="{% static '/accounts/img/ui/search.svg' %}" alt="Искать">
                    </button>
                </form>
                <div class="header__nav">
                    <a href="{% url 'signup' %}" class="nav__account">
                        <img src="{% static '/accounts/img/ui/user.svg' %}" alt="Аккаунт">
                    </a>
                    <a href="#" class="nav__vk">
                        <img src="{% static '/accounts/img/ui/vk.svg' %}" alt="VK">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="cataloque">
        <div class="cataloque-main container">
            <div class="cataloque__nav">
                <a href="#">Товары</a>
                <a href="#">Заказы</a>
            </div>
        </div>
    </div>
    <div class="hero">
        <div class="hero-main container">
        </div>
    </div>

    <div class="profile_page profile_user _active">
        <div class="profile">
            <form class="profile-main container">
                <label for="avatar_load" class="profile__avatar" data-imgurl="{% static '/accounts/img/avatar.jpg' %}">
                    
                </label>
                <input type="file" id="avatar_load">
                <p class="profile__hint">*Нажмите на картинку, чтобы сменить её</p>

                <h1 class="profile__name">Кызылбек Ар-зыл-Жан</h1>
                <div class="field_line">
                    <div class="form__field">
                        <h2 class="tab__title">Ваше имя: *</h2>
                        <input type="text" required maxlength="50" placeholder="Введите сюда" value="Кызылбек">
                    </div>
                    <div class="form__field">
                        <h2 class="tab__title">Ваша фамилия: *</h2>
                        <input type="text" required maxlength="50" placeholder="Введите сюда" value="Ар-зыл-Жан">
                    </div>
                </div>
                <div class="form__field">
                    <h2 class="tab__title">Ваш адрес: *</h2>
                    <input type="text" required maxlength="50" placeholder="Введите сюда" value="Казахстан, Алма-Ата, ул. Кызмындырсалым, 33/7">
                </div>
                <button class="profile__edit_btn">Подтвердить изменения</button>
            </form>
        </div>

        <div class="orders">
            <div class="orders-main container">
                <div class="order">
                    <div class="order__image" data-imgurl="https://hoz54.ru/wp-content/uploads/2017/03/25-303.jpg"></div>
                    <div class="order__info">
                        <div class="info__text">
                            <h2 class="info__title">Заказ №0032-32458897</h2>
                            <div class="info__name">Очиститель туалетов молекулярный O2B4OSrAl</div>
                        </div>
                        <div class="order__status">Ожидает получения</div>
                    </div>
                </div>
                <div class="order">
                    <div class="order__image" data-imgurl="https://hoz54.ru/wp-content/uploads/2017/03/25-303.jpg"></div>
                    <div class="order__info">
                        <div class="info__text">
                            <h2 class="info__title">Заказ №0032-32458897</h2>
                            <div class="info__name">Очиститель туалетов молекулярный O2B4OSrAl</div>
                        </div>
                        <div class="order__status">24.04.2024</div>
                    </div>
                </div>
                <div class="order">
                    <div class="order__image" data-imgurl="https://ir.ozone.ru/s3/multimedia-d/c1000/6011737525.jpg"></div>
                    <div class="order__info">
                        <div class="info__text">
                            <h2 class="info__title">Заказ №0032-32458897</h2>
                            <div class="info__name">Очиститель туалетов молекулярный O2B4OSrAl</div>
                        </div>
                        <div class="order__status">24.04.2024</div>
                    </div>
                </div>
                <div class="order">
                    <div class="order__image" data-imgurl="https://ir.ozone.ru/s3/multimedia-d/c1000/6011737525.jpg"></div>
                    <div class="order__info">
                        <div class="info__text">
                            <h2 class="info__title">Заказ №0032-32458897</h2>
                            <div class="info__name">Очиститель туалетов молекулярный O2B4OSrAl</div>
                        </div>
                        <div class="order__status">24.04.2024</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="profile_page profile_customer">
        <div class="profile">
            <form class="profile-main container">
                <label for="avatar_load" class="profile__avatar" data-imgurl="accounts/img/avatar.jpg">
                    
                </label>
                <input type="file" id="avatar_load">
                <p class="profile__hint">*Нажмите на картинку, чтобы сменить её</p>
                <h1 class="profile__name">Кызылбеково</h1>
                
                <div class="field_line">
                    <div class="form__field">
                        <h2 class="tab__title">Название компании: *</h2>
                        <input type="text" required maxlength="50" placeholder="Введите сюда" value="Кызылбеково">
                    </div>
                    <div class="form__field">
                        <h2 class="tab__title">Изделие производства: *</h2>
                        <input type="text" required maxlength="50" placeholder="Введите сюда" value="Здесь уже что-то есть">
                    </div>
                </div>

                <div class="form__checkboxes">
                    <h2 class="checkboxes__title">Склады:</h2>
                    <div class="checkboxes">
                        <label class="checkbox">
                            <div class="checkbox__button">Краснодар</div>
                            <input type="checkbox">
                        </label>
                        <label class="checkbox">
                            <div class="checkbox__button">Москва</div>
                            <input type="checkbox">
                        </label>
                        <label class="checkbox">
                            <div class="checkbox__button">Санкт-Петербург</div>
                            <input type="checkbox">
                        </label>
                        <label class="checkbox">
                            <div class="checkbox__button">Нижний Новгород</div>
                            <input type="checkbox">
                        </label>
                    </div>
                </div>
                <div class="form__checkboxes">
                    <h2 class="checkboxes__title">Пункты выдачи: </h2>
                    <div class="checkboxes">
                        <label class="checkbox">
                            <div class="checkbox__button">Краснодар</div>
                            <input type="checkbox">
                        </label>
                        <label class="checkbox">
                            <div class="checkbox__button">Москва</div>
                            <input type="checkbox">
                        </label>
                        <label class="checkbox">
                            <div class="checkbox__button">Санкт-Петербург</div>
                            <input type="checkbox">
                        </label>
                        <label class="checkbox">
                            <div class="checkbox__button">Нижний Новгород</div>
                            <input type="checkbox">
                        </label>
                    </div>
                </div>
                <button class="profile__edit_btn">Подтвердить изменения</button>
            </form>
        </div>
    </div>
    
    <div class="footer">
        <div class="footer-main container">
            <h1 class="footer__title">Kodopes</h1>
            <div class="footer__nav">
                <a href="{% url 'main' %}">Главная</a>
                <a href="/index.html">О доставке</a>
                <a href="/privacy-policy.html">Политика конфиденциальности</a>
                <a href="/contacts.html">Контакты</a>
                <a href="#">FAQ</a>
            </div>
        </div>
    </div>

    
    <script src="{% static 'accounts/js/registry.js' %}"></script>
    <script src="{% static 'profile_user/js/profile.js' %}"></script>
</body>
</html>
