{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static '/accounts/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/header.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'profile_user/css/profile.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/registry.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/footer.css' %}">

    <title>Hack2024</title>
</head>
<body>
    <div hidden id="value_status">{{ profile.status }}</div>
    <div class="header">
        <div class="header-main container">
            <a href="{% url 'main' %}" class="header__logo">Kodopes</a>
            <div class="header-side">
                {% if user.status == 'Покупатель' %}
                    <form class="header__search" method="post">
                        {% csrf_token %}
                        {{ form.search_field }}
                        <button type="submit">
                            <img src="{% static 'accounts/img/ui/search.svg' %}" alt="Искать">
                        </button>
                    </form>
                {% endif %}
                <div class="header__nav">
                    <a href="{% url 'signup' %}" class="nav__account">
                        <img src="{% static '/accounts/img/ui/user.svg' %}" alt="Аккаунт">
                    </a>
                    <a href="#" class="nav__vk">
                        <img src="{% static '/accounts/img/ui/vk.svg' %}" alt="VK">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="cataloque">
        <div class="cataloque-main container">
            <div class="cataloque__nav">
                {% if user.status == 'Компания' %}
                    <a href="{% url 'orders' %}">Заказы</a>
                    <a href="{% url 'create' %}">Создать заказ</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="hero">
        <div class="hero-main container">
        </div>
    </div>

    <!-- Покупатель -->
    <div class="profile_page profile_user" id="client">
        <div class="profile">
            <form class="profile-main container">
                <label for="avatar_load" id="profile_avatar" class="profile__avatar" data-imgurl="{% static '/accounts/img/avatar.jpg' %}"></label>

                <h1 class="profile__name" id="name_client">{{ profile.first_name }} {{ profile.last_name }}</h1>
                <div class="field_line">
                    <div class="form__field">
                        <h2 class="tab__title">Имя: *</h2>
                        <input type="text" disabled value='{{ profile.first_name }}'>
                    </div>
                    <div class="form__field">
                        <h2 class="tab__title">Фамилия: *</h2>
                        <input type="text" disabled value='{{ profile.last_name }}'>
                    </div>
                </div>
                <div class="form__field">
                    <h2 class="tab__title">E-mail: *</h2>
                    <input type="text" disabled value='{{ profile.username }}'>
                </div>
                <div class="form__field">
                    <h2 class="tab__title">Адрес: *</h2>
                    <div class="checkboxes">
                        {% for address_user in address %}
                             <label class="checkbox">
                                <div class="checkbox__button" data-category="address">{{ address_user }}</div>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Компания -->
    <div class="profile_page profile_customer" id="company">
        <div class="profile">
            <form class="profile-main container" method="post">
                <label for="avatar_load" id="company_avatar" class="profile__avatar" data-imgurl="{% static '/accounts/img/avatar.jpg' %}"></label>
                <h1 class="profile__name">{{ profile.organization }}</h1>
                <div hidden>{{ form.username }}</div>
                <div class="field_line">
                    <div class="form__field">
                        <h2 class="tab__title">Название компании: *</h2>
                        <input type="text" disabled value='{{ profile.organization }}'>
                    </div>
                    <div class="form__field">
                        <h2 class="tab__title">Изделие производства: *</h2>
                        <input type="text" disabled value='{{ profile.production }}'>
                    </div>
                </div>

                <div class="form__checkboxes">
                    <h2 class="checkboxes__title">Склады:</h2>
                    <div class="checkboxes">
                        {% for warehouse in warehouses %}
                             <label class="checkbox">
                                <div class="checkbox__button" data-category="address">{{ warehouse }}</div>
                            </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="form__checkboxes">
                    <h2 class="checkboxes__title">Пункты выдачи: </h2>
                    <div class="checkboxes">
                        {% for pick_up_point in pick_up_points %}
                             <label class="checkbox">
                                <div class="checkbox__button" data-category="address">{{ pick_up_point }}</div>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="footer">
        <div class="footer-main container">
            <h1 class="footer__title">Kodopes</h1>
            <div class="footer__nav">
                <a href="{% url 'main' %}">Главная</a>
                <a href="{% url 'main' %}">О доставке</a>
                <a href="{% url 'privacy_policy' %}">Политика конфиденциальности</a>
            </div>
        </div>
    </div>

    
    <script src="{% static 'profile_user/js/profile.js' %}"></script>
    <script src="{% static 'main/js/product.js' %}"></script>
    
</body>
</html>
