{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'main/css/create.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/registry.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/header.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/footer.css' %}">

    <title>Hack2024</title>
</head>
<body>
    <div class="header">
        <div class="header-main container">
            <a href="{% url 'main' %}" class="header__logo">Kodopes</a>
            <div class="header-side">
                <div class="header__nav">
                    {% if user.is_authenticated %}
                    <a href="{% url 'profile_update' user.id %}" class="nav__account">
                        <img src="{% static '/accounts/img/ui/user.svg' %}" alt="Аккаунт">
                    </a>
                    {% else %}
                     <a href="{% url 'signup' %}" class="nav__account">
                        <img src="{% static '/accounts/img/ui/user.svg' %}" alt="Аккаунт">
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="cataloque">
        <div class="cataloque-main container">
            <div class="cataloque__nav">
                {% if user.status == 'Компания' %}
                    <a href="{% url 'orders' %}">Заказы</a>
                    <a href="{% url 'create' %}">Создать заказ</a>
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="create">
        <div class="create-main container">
            <h1 class="create__title">
                Добавить товар
            </h1>
            <form class="registry__tab _customer_tab tab_active" enctype='multipart/form-data' method='post'>
                {% csrf_token %}
                {{ form.errors }}
                <div class="field_line">
                    <div class="form__field">
                        <h2 class="tab__title">Название товара: *</h2>
                        {{ form.name }}
                    </div>
                    <div class="form__field">
                        <h2 class="tab__title">Цена в руб.: *</h2>
                        {{ form.price }}
                    </div>
                </div>
                <div class="field_line">
                    <div class="form__field">
                        <h2 class="tab__title">Масса товара: *</h2>
                        {{ form.mass }}
                    </div>
                    <div class="form__field">
                        <h2 class="tab__title">Размеры товара по типу W H D: *</h2>
                        {{ form.size }}
                    </div>
                </div>
                <div class="field_line">
                    <div class="form__field">
                        <h2 class="tab__title">Краткое описание товара *</h2>
                        {{ form.description }}
                    </div>
                </div>
                <div class="field_line">
                    <div class="form__field">
                        <h2 class="tab__title">Теги товара: *</h2>
                        <input type="text" id="tags_field" maxlength="40" placeholder="Введите тег">
                        {{ form.category }}
                    </div>
                    <button type="button" class="form__submit" onclick="addTag()">Добавить тег</button>
                </div>
                <div class="create__tags">

                </div>

                <div class="tab__title images_title">Загрузите изображения</div>    
                {{ form.picture1 }}
                {{ form.picture2 }}
                {{ form.picture3 }}

                <div class="form__checkboxes">
                    <h2 class="checkboxes__title">Склады:</h2>
                    <div class="checkboxes">
                        {{ form.list_warehouse }}
                        {% for city in cities %}
                        <label class="checkbox">
                            <div class="checkbox__button" data-category="warehouse" id="{{ city.id }}">{{ city.name }}</div>
                            <input type="checkbox">
                        </label>
                        {% endfor %}
                    </div>
                </div>
                    {{ form.status }}
                <button class="form__submit">Подтвердить</button>
            </form>
        </div>
    </div>

    <div class="footer">
        <div class="footer-main container">
            <h1 class="footer__title">Kodopes</h1>
            <div class="footer__nav">
                <a href="{% url 'main' %}">Главная</a>
                <a href="{% url 'main' %}">О доставке</a>
                <a href="{% url 'privacy_policy' %}">Политика конфиденциальности</a>
            </div>
        </div>
    </div>

    
    <script src="{% static '/accounts/js/registry.js' %}"></script>
    <script src="{% static 'main/js/create.js' %}"></script>
    <script src="{% static 'main/js/header.js' %}"></script>
</body>
</html>
