<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/fonts.css">
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/product.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/footer.css">

    <title>Hack2024</title>
</head>
<body>
    <div class="header">
        <div class="header-main container">
            <a href="/index.html" class="header__logo">Kodopes</a>
            <div class="header-side">
                <form class="header__search">
                    <input type="text" required placeholder="Поиск">
                    <button>
                        <img src="assets/images/ui/search.svg" alt="Искать">
                    </button>
                </form>
                <div class="header__nav">
                    <a href="/registry.html" class="nav__account">
                        <img src="assets/images/ui/user.svg" alt="Аккаунт">
                    </a>
                    <a href="#" class="nav__vk">
                        <img src="assets/images/ui/vk.svg" alt="VK">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="cataloque">
        <div class="cataloque-main container">
            <div class="cataloque__nav">
                <a href="#">Товары</a>
                <a href="#">Заказы</a>
            </div>
        </div>
    </div>
    
    <div class="product">
        <div class="product-main container">
            <div class="product__title">
                <h1>Манга Магическая Битва. Книга 10.</h1>
                <div class="title__rating">
                    <img src="assets/images/ui/star.svg"> 4.9
                </div>
            </div>
            <div class="product__row">
                <div class="product__slider">
                    <div class="slider__main">
                        <img src="assets/images/Product.png">
                    </div>
                    <div class="slider__sub">
                        <img src="assets/images/Product.png" class="slider_btn _slider_current">
                        <img src="https://ir.ozone.ru/s3/multimedia-w/wc1000/6865509596.jpg" class="slider_btn">
                        <img src="assets/images/Product.png" class="slider_btn">
                    </div>
                </div>
                <div class="product__info">
                    <div class="info__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea enim voluptatibus sapiente dolore vitae perspiciatis eos ducimus modi nemo provident repellat eveniet, doloribus consequuntur explicabo minima accusamus ratione sed? Assumenda soluta sequi ab autem totam cumque laudantium id quasi eligendi error asperiores, distinctio dolor consequuntur reiciendis porro quidem sint commodi.
                        <div class="text__prop">
                            <div class="prop_key">Масса:</div>
                            <div class="prop_val">350 kg</div>
                        </div>
                        <div class="text__prop">
                            <div class="prop_key">Габариты:</div>
                            <div class="prop_val">2x2x2 м.</div>
                        </div>
                    </div>
                    <div class="info__date">Варианты доставки:</div>
                    <div class="delivery">
                        <div class="delivery__option _picked" data-val="econom" data-date="Через год">
                            Econom
                        </div>
                        <div class="delivery__option" data-val="fast" data-date="Завтра">
                            Fast
                        </div>
                        <input type="text" name="delivery_option" value="econom">
                    </div>
                    <div class="info__date" id="delivery_date">Текущая дата доставки: <b>Через год</b></div>
                    <div class="info__buy">
                        <div class="info__price">739&#8381</div>
                        <button>В корзину</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer footer_white">
        <div class="footer-main container">
            <h1 class="footer__title">Kodopes</h1>
            <div class="footer__nav">
                <a href="/index.html">Главная</a>
                <a href="/index.html">О доставке</a>
                <a href="/privacy-policy.html">Политика конфиденциальности</a>
                <a href="/contacts.html">Контакты</a>
                <a href="#">FAQ</a>
            </div>
        </div>
    </div>

    <script src="assets/js/product.js"></script>
</body>
</html>
