{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static '/accounts/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/header.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/product.css' %}">

    <title>Hack2024</title>
</head>
<body>
    <div class="header">
        <div class="header-main container">
            <a href="/index.html" class="header__logo">Kodopes</a>
            <div class="header-side">
                <form class="header__search">
                    <input type="text" required placeholder="Поиск">
                    <button>
                        <img src="{% static '/accounts/img/ui/search.svg' %}" alt="Искать">
                    </button>
                </form>
                <div class="header__nav">
                    <a href="/registry.html" class="nav__account">
                        <img src="{% static '/accounts/img/ui/user.svg' %}" alt="Аккаунт">
                    </a>
                    <a href="#" class="nav__vk">
                        <img src="{% static '/accounts/img/ui/vk.svg' %}" alt="VK">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="cataloque">
        <div class="cataloque-main container">
            <div class="cataloque__nav">
                <a href="#">Товары</a>
                <a href="#">Заказы</a>
            </div>
        </div>
    </div>
    
    <div class="product">
        <div class="product-main container">
            <div class="product__title">
                <h1>{{ product.name }}</h1>
                <div class="title__rating">
                    <img src="{% static '/accounts/img/ui/star.svg' %}"> 4.9
                </div>
            </div>
            <div class="product__row">
                <div class="product__slider">
                    <div class="slider__main">
                        <img src="{{ product.picture1.url }}">
                    </div>
                    <div class="slider__sub">
                        <img src="{{ product.picture1.url }}" class="slider_btn _slider_current">
                        <img src="{{ product.picture2.url }}" class="slider_btn">
                        <img src="{{ product.picture3.url }}" class="slider_btn">
                    </div>
                </div>
                <div class="product__info">
                    <div class="info__text">{{ product.description }}</div>
                    <div class="info__buy">
                        <div class="info__price">{{ product.price }} руб</div>
                        <button>В корзину</button>
                    </div>
                    <div class="info__date">Будет доставлено: <b>24.04.2024</b></div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer footer_white">
        <div class="footer-main container">
            <h1 class="footer__title">Kodopes</h1>
            <div class="footer__nav">
                <a href="/index.html">Главная</a>
                <a href="/index.html">О доставке</a>
                <a href="/privacy-policy.html">Политика конфиденциальности</a>
                <a href="/contacts.html">Контакты</a>
                <a href="#">FAQ</a>
            </div>
        </div>
    </div>

    <script src="{% static 'main/js/product.js' %}"></script>
</body>
</html>
