{% load static %}
<!-- {{ user.id }}
<form action="add_to_cart" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit">
</form> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static '/accounts/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/header.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/index.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/css/footer.css' %}">    

    <title>Hack2024</title>
</head>
<body>
    <div class="header">
        <div class="header-main container">
            <a href="{% url 'main' %}" class="header__logo">Kodopes</a>
            <div class="header-side">
                {% if user.status == 'Покупатель' %}
                    <form class="header__search" method="post">
                        {% csrf_token %}
                        {{ form.search_field }}
                        <button type="submit">
                            <img src="{% static 'accounts/img/ui/search.svg' %}" alt="Искать">
                        </button>
                    </form>
                {% endif %}
                <div class="header__nav">
                    {% if user.is_authenticated %}
                    <a href="{% url 'profile_update' user.id %}" class="nav__account">
                        <img src="{% static 'accounts/img/ui/user.svg' %}" alt="Аккаунт">
                    </a>
                    {% else %}
                     <a href="{% url 'signup' %}" class="nav__account">
                        <img src="{% static 'accounts/img/ui/user.svg' %}" alt="Аккаунт">
                    </a>
                    {% endif %}
                    <a href="#" class="nav__vk">
                        <img src="{% static 'accounts/img/ui/vk.svg' %}" alt="VK">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="cataloque">
        <div class="cataloque-main container">
            <div class="cataloque__nav">
                {% if user.status == 'Компания' %}
                    <a href="{% url 'orders' %}">Заказы</a>
                    <a href="{% url 'create' %}">Создать заказ</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="hero">
        <div class="hero-main container">
            <h1 class="hero__title">Самый лучший маркетплейс по доставке чугуна.</h1>
            <p class="hero__subtitle">Прямо сейчас скидки до 50% на все товары из категории “Всё металлическое”.</p>
            <a href="#" class="hero__action">отлично!</a>
        </div>
    </div>
    <div class="offers">
        <div class="offers-main container">
            <div class="offers__dscr">
                <h1 class="offers__title">Различные варианты доставки</h1>
                <p class="offers__subtitle">Прямо сейчас скидки до 50% на все товары из категории “Всё металлическое”.</p>
                <a href="#" class="offers__action">отлично!</a>
            </div>
            <div class="offers__list">
                <div class="offer__card">
                    <h2 class="card__title">Econom</h2>
                    <ul class="card__props">
                        <li class="prop">
                            <b>Стоимость: </b>80$
                        </li>
                        <li class="prop">
                            <b>Скорость доставки: </b>почта России.
                        </li>
                        <li class="prop">
                            <b>Идеально подходит</b> для закупок заранее.
                        </li>
                    </ul>
                    <a href="#" class="card__action">посмотреть</a>
                </div>
                <div class="offer__card">
                    <h2 class="card__title">Econom</h2>
                    <ul class="card__props">
                        <li class="prop">
                            <b>Стоимость: </b>80$
                        </li>
                        <li class="prop">
                            <b>Скорость доставки: </b>почта России.
                        </li>
                        <li class="prop">
                            <b>Идеально подходит</b> для закупок заранее.
                        </li>
                    </ul>
                    <a href="#" class="card__action">посмотреть</a>
                </div>
                <div class="offer__card">
                    <h2 class="card__title">Econom</h2>
                    <ul class="card__props">
                        <li class="prop">
                            <b>Стоимость: </b>80$
                        </li>
                        <li class="prop">
                            <b>Скорость доставки: </b>почта России.
                        </li>
                        <li class="prop">
                            <b>Идеально подходит</b> для закупок заранее.
                        </li>
                    </ul>
                    <a href="#" class="card__action">посмотреть</a>
                </div>
            </div>
        </div>
    </div>
    <div class="guide">
        <div class="guide-main container">
            <div class="guide__card">
                <div class="guide__card-text">
                    <h1>Как заказать нужный товар?</h1>
                    <p>Шаг 1. Добавьте Ваш товар в корзину.</p>
                    <p>Шаг 2. Выберите оптимальный способ доставки</p>
                    <p>Шаг 3. Готово! Ожидайте доставки.</p>
                    <a href="#" class="card__action">
                        к ленте товаров!
                    </a>
                </div>
                <div class="guide__card-image">
                    
                </div>
            </div>
            <div class="guide__card">
                <div class="guide__card-text">
                    <h1>Как заказать нужный товар?</h1>
                    <p>Шаг 1. Добавьте Ваш товар в корзину.</p>
                    <p>Шаг 2. Выберите оптимальный способ доставки</p>
                    <p>Шаг 3. Готово! Ожидайте доставки.</p>
                    <a href="#" class="card__action">
                        к ленте товаров!
                    </a>
                </div>
                <div class="guide__card-image">
                    
                </div>
            </div>
            <div class="guide__card">
                <div class="guide__card-text">
                    <h1>Как заказать нужный товар?</h1>
                    <p>Шаг 1. Добавьте Ваш товар в корзину.</p>
                    <p>Шаг 2. Выберите оптимальный способ доставки</p>
                    <p>Шаг 3. Готово! Ожидайте доставки.</p>
                    <a href="#" class="card__action">
                        к ленте товаров!
                    </a>
                </div>
                <div class="guide__card-image">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-main container">
            <h1 class="footer__title">Kodopes</h1>
            <div class="footer__nav">
                <a href="{% url 'main' %}">Главная</a>
                <a href="{% url 'main' %}">О доставке</a>
                <a href="/privacy-policy.html">Политика конфиденциальности</a>
                <a href="/contacts.html">Контакты</a>
                <a href="#">FAQ</a>
            </div>
        </div>
    </div>
</body>
</html>
